---
layout: default
---
<div class="date right">
{{ page.date | date_to_string }}
</div>

<h1>{{ page.title }}</h1>

<div id="post">
{{ content }}
</div>

<div id="disqus">
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/jackowayed-blog/embed.js"></script><noscript><a href="http://jackowayed-blog.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
